@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mitr", sans-serif;
}


body {
    background-image: url(Img/PAdogcat.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
body::before {
    content: '';
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}
header {
    width: 100%;
    background-color: #84592B;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    position: static;
    top: 0;
    left: 0;
    z-index: 100;
}
.navbar {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 20px;
    gap: 5px;
}
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.org-name h1 {
    color: white;
    font-size: 22px;
    margin: 0;
}
.org-name p {
    font-size: 13px;
    color: #E8D1A7;
    margin-top: -2px;
}
.nav-links {
    flex-wrap: wrap;
    position: relative;
    display: flex;
    list-style: none;
    gap: 25px;
    margin-left: auto;
    margin-right: 20px;
    padding-top: 10px;
}
.nav-links a {
    position: relative;
    display: inline;
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: color 0.3s;
    padding: 0;
}
.nav-links a:hover {
    color: #4b2e0a;
}
.nav-links a::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #ffcc00;
    transition: width 0.3s ease;
}
.nav-links a:hover::after {
    width: 100%;
}
.login-btn {
    background-color: #743014 !important;
    border: none;
    color: white;
    padding: 8px 18px;
    border-radius: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
    width: auto;
}
.login-btn:hover {
    background-color: #442D1C !important;
}




.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.forgot-password {
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 5px;
}
.forgot-password a:hover {
    text-decoration: underline;
}
.signup-btn {
    cursor: pointer;
    background-color: #743014 !important;
    border: none;
}
.signup-btn:hover {
    background-color: #442D1C !important;
}
a {
    text-decoration: none;
}
h3 {
    color: white;
    margin-top: 18px;
    margin-bottom: 18px;
    font-size: 40px;
    font-weight: 700;
    box-shadow: 0 0 0 #e4dede !important;
}
.form-parrents {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5vh !important;
}
.form-parrents .signup {
    background-color: #E8D1A7;
    border: 2px solid #84592B;
    margin-right: 30px;
    border-radius: 15px;
    box-shadow: 0 0 5px 0 #E8D1A7  !important;
    padding: 10px;
    width: 350px;
    text-align: center;
    align-items: center;
}
.form-parrents .signup .input-item input {
    border-radius: 7px;
    padding: 10px;
    margin: 10px 0;
    width: 80%;
}
button {
    width: 87%;
    color: #e4dede !important;
    padding: 10px;
    background-color: #1560bc !important;
    border-radius: 5px;
    font-size: 16px;
    border: 1px solid #e4dede;
    margin-bottom: 10px;
}
.bt {
    width: 87%;
    color: #999 !important;
    padding: 10px;
    background-color: transparent !important;
    border-radius: 5px;
    font-size: 16px;
    border: 2px solid #442D1C;
    margin-bottom: 10px;
}
button img{
    position: relative;
    right: 30px;
}
.form-parrents.input-item input {
    border-radius: 8px;
    padding: 10px;
    margin: 10px 0;
    width: 80%;
}
.signup hr {
    width: 100%;
    box-sizing: border-box;
}
hr {
    margin-top: 30px;
    width: 86%;
}
.or {
    background-color: #E8D1A7;
    width: 22px;
    margin: -19px auto 5px;
}
.fb-btn, .google-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 87%;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    border: 2px solid #442D1C;
    cursor: pointer;
    margin: 5px auto ;
}
.fb-btn {
    margin: -10px auto 0;
    background-color: #1560bc;
    color: #fff;
}
.google-btn {
    margin: -5px auto 10px;
    background-color: #fff !important;
    color: #555 !important;
}
.fb-btn img, .google-btn img {
    width: 20px;
    height: 20px;
    object-fit: contain;
}


@media (max-width: 768px) {
    .nav-links {
        flex-direction: column;
        gap: 10px;
        margin: 0;
        padding: 0;
    }
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .login-btn {
        margin-top: 10px;
    }
}
